* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: clamp(14px, 1vw, 18px);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

div {
    background-color: red;
    width: 80%;
    height: 100%;
    background-position: center;
    border-radius: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;

}

h1 {
    font-size: 3rem;
    margin: 1rem;
    color: black;
}

h2 {
    margin-bottom: 2rem;
    color: black;
}

#btn {
    margin: 3rem;
    color: #222;
    font-size: 2rem;
    background-color: burlywood;
}

#btn:active {
    scale: 0.9;
    background-color: aqua;
}

.hero-card {
    width: 50%;
    background: #1a1a1d;
    color: #ffffff;
    padding: 10px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    font-family: Arial, sans-serif;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    padding: 10px;
    margin: 10px;
    display: none;

}

.hero-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
}

.hero-card h2 {
    margin-bottom: 6px;
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-align: center;
    color: white;

}

.hero-meta {
    font-size: 1.5rem;
    color: #cfcfcf;
    line-height: 2.2rem;

    text-align: center;
}

.hero-section {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hero-section h3 {
    margin-bottom: 6px;
    font-size: 1.8rem;
    color: #f4d03f;
}

.hero-section ul {
    padding-left: 20px;
}

.hero-section li {
    margin-bottom: 4px;
    font-size: 1.1rem;
}

@media (max-width:800px){
    html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .hero-card {
    width: 90%;
}
div {
    background-color: red;
    width: 90%;
    height: 90%;
    background-position: center;

}
}